.grid-wrap {
  --grid-wrap-ratio: 1;
  display: grid;
  @media (min-width: 768px) {
    grid-template-columns: 0.5fr 0.5fr;
  }

  & > * {
    aspect-ratio: var(--grid-wrap-ratio);

    &:nth-child(3) {
      @media (min-width: 768px) {
        order: 4;
      }
    }
  }
}

.grid-item--text {
  background-color: var(--color-surface);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  padding: var(--spacing-default);
  align-items: center;
  justify-content: center;

  & > * {
    margin-block-start: 0;
    line-height: 1.5;
  }
}
