@import url(components/marquee.css);
@import url(components/grid.css);
@import url(components/teaser.css);

.hero {
  display: grid;
  grid-template: "container";
  height: 100lvh;
  overflow: clip;

  & > * {
    grid-area: container;
  }
}

.logo {
  --logo-max-width: 28rem;
  max-width: var(--logo-max-width);
  padding-block-start: var(--spacing-default);
  padding-inline: var(--spacing-default);
  height: fit-content;
  color: var(--color-lightest);

  svg {
    width: 100%;
    filter: var(--dropshadow);
  }
}
