@import url(components/marquee.css);
@import url(components/teaser.css);

.hero {
  display: grid;
  grid-template: "container";
  height: 100lvh;
  overflow: clip;

  & > * {
    grid-area: container;
  }
}

.logo {
  --logo-max-width: 28rem;
  max-width: var(--logo-max-width);
  padding-block-start: var(--spacing-default);
  padding-inline: var(--spacing-default);
  height: fit-content;
  color: var(--color-lightest);

  svg {
    width: 100%;
    filter: var(--dropshadow);
  }
}

.cells {
  --cells-min-width: 20rem;
  --cells-ratio: 4/3;
  display: flex;
  flex-wrap: wrap;

  & > * {
    flex: 1 1 var(--cells-min-width);
    aspect-ratio: var(--cells-ratio);
    overflow: hidden;
  }
}

.cell--text {
  display: flex;
  flex-direction: column;
  padding: var(--spacing-default);
  align-items: center;
  justify-content: center;

  & > * {
    margin-block-start: 0;
    line-height: 1.5;
  }
}
