:root {
  --color-brand: red;
  --color-darkest: #000;
  --color-lightest: #fff;
  --color-brand-80: oklch(from var(--color-brand) 0.8 c h);
  --color-brand-50: oklch(from var(--color-brand) 0.5 c h);
  --color-link: var(--color-brand);
  --color-hover: light-dark(var(--color-brand-50), var(--color-brand-80));
  --color-text: light-dark(var(--color-darkest), var(--color-lightest));
  --color-surface: light-dark(var(--color-lightest), var(--color-darkest));
  --color-surface-opaque-80: oklch(from var(--color-surface) l c h / 0.8);
  --spacing-default: clamp(1rem, 0.2rem + 3.2vw, 3rem);
  --spacing-s: 1rem;
  --spacing-m: 1.5rem;
  --spacing-l: 2rem;
  --border-m: 0.5rem solid var(--color-text);

  color-scheme: light dark;
  color: var(--color-text);
}

[data-theme="invert"] {
  --color-text: light-dark(var(--color-lightest), var(--color-darkest));
  --color-surface: light-dark(var(--color-darkest), var(--color-lightest));
  --color-hover: light-dark(var(--color-brand-80), var(--color-brand-50));
}

body {
  background-color: var(--color-surface);
}

h1 {
  display: none;
}

a {
  color: var(--color-link);
  &:hover {
    color: var(--color-hover);
  }
}

footer {
  color: var(--color-text);
  background-color: var(--color-surface);
  padding-block: calc(2 * var(--spacing-default));
  padding-inline: var(--spacing-default);

  ul {
    display: flex;
    gap: var(--spacing-default);
  }
}

[popover] {
  margin-inline: var(--spacing-default);
  padding: var(--spacing-default);

  button {
    position: absolute;
    top: var(--spacing-default);
    right: var(--spacing-default);
    background-color: var(--color-text);
    color: var(--color-surface);
    padding: calc(var(--spacing-default) / 2);
  }
}

::backdrop {
  background-color: oklch(from var(--color-surface) l c h / 0.9);
  backdrop-filter: blur(30px);
}
