:root {
  --color-brand: #ff8000;
  --color-darkest: #000;
  --color-lightest: #fff;
  --color-brand-80: oklch(from var(--color-brand) 0.8 c h);
  --color-brand-50: oklch(from var(--color-brand) 0.5 c h);
  --color-hover: var(--color-brand);
  --color-link: light-dark(var(--color-brand-50), var(--color-brand-80));
  --color-text: light-dark(var(--color-darkest), var(--color-lightest));
  --color-surface: light-dark(var(--color-lightest), var(--color-darkest));
  --color-surface-opaque-80: oklch(from var(--color-surface) l c h / 0.8);
  --dropshadow: drop-shadow(
    10px 10px 15px oklch(from var(--color-darkest) l c h / 0.9)
  );
  --spacing-default: clamp(1rem, 0.2rem + 3.2vw, 3rem);
  --spacing-s: 1rem;
  --spacing-m: 1.5rem;
  --spacing-l: 2rem;
  --border-m: 0.5rem solid var(--color-text);

  color-scheme: light dark;
  color: var(--color-text);
}

body {
  background-color: var(--color-surface);
}

h1 {
  display: none;
}

button,
a {
  color: var(--color-link);
  text-decoration: none;

  &:focus-visible,
  &:hover {
    color: var(--color-hover);
  }
}

.link-standalone {
  --border-color: transparent;
  font-size: var(--fs-responsive-s);
  font-weight: 700;
  text-transform: uppercase;
  border: 2px solid var(--border-color);

  &:focus-visible,
  &:hover {
    color: var(--color-hover);
  }
  &:focus-visible {
    --border-color: var(--color-link);
    outline: none;
  }
  &:is(button) {
    padding-inline: 0;
  }
}

footer {
  color: var(--color-text);
  background-color: var(--color-surface);
  padding-block: calc(2 * var(--spacing-default));
  padding-inline: var(--spacing-default);

  ul {
    display: flex;
    gap: var(--spacing-default);
  }
}

[popover] {
  margin-inline: var(--spacing-default);
  padding: var(--spacing-default);

  button {
    position: absolute;
    top: var(--spacing-default);
    right: var(--spacing-default);
    background-color: var(--color-text);
    color: var(--color-surface);
    padding: calc(var(--spacing-default) / 2);
  }
}

::backdrop {
  background-color: oklch(from var(--color-surface) l c h / 0.9);
  backdrop-filter: blur(30px);
}
