.img-wrap--cover {
  z-index: -1;
  position: relative;

  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hide-s {
  @media (max-width: 460px) {
    display: none;
  }
}

[data-theme="invert"] {
  --color-text: light-dark(var(--color-lightest), var(--color-darkest));
  --color-surface: light-dark(var(--color-darkest), var(--color-lightest));
  --color-link: light-dark(var(--color-brand-80), var(--color-brand-50));
}
