.img-wrap--cover {
  z-index: -1;
  position: relative;

  img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hide-s {
  @media (max-width: 460px) {
    display: none;
  }
}
